.popup__container {
  width: 470px;
  display: flex;
  flex-direction: column;
}

@media all and (max-width:768px) {
  .popup__container {
    max-width: 376px;
  }
}

@media all and (max-width: 425px) {
  .popup__container {
    max-width: 282px;
  }
}
